@charset "ISO-8859-1";

body{
  background-image: url("./coffeeShop.jpeg");
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

button{
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  width: 208px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}

figure{
  margin: 0;
}

input, select, textarea{
  width: 100%;
  border: 1px solid #696969;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 0 20px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 5px;
}

.verde{
  background-color: #6CC067;
}

.cafe{
  background: #8A7755;
}

.link{
	text-decoration: none;
}